apache-airflow>=2.3.0
datarobot>=3.6.0
mypy>=0.931
pytest>=7.0.0
pytest-mock>=3.7.0
pytest-helpers-namespace>=2021.12.29
pre-commit>=4.0.1
ruff>=0.9.2
Sphinx>=7.4.7
sphinx_rtd_theme>=3.0
numpydoc>=1.7.0,<1.8.0
sphinx-autodoc-typehints>=2
pyenchant==3.2.2
sphinx-copybutton
sphinx-markdown-builder
myst-parser==3.0.1
